.text-info {
    margin: 0;
    color: #111;
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;

}

.text-link {
    color: #D9D9D9;
    font-family: NAMU;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;

}
.text-btn {
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    margin: 0;
    color: #111;
    font-family: NAMU;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 144%;
}

.text-date {
    color: #909090;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.text-primary {
    color: #000;
    text-align: center;
    font-family: NAMU;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;

}
.text-smail{
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}
.text-smail-light{
    color:  #111;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
}
.text-title{
    color: #111;
    font-family: NAMU;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.more{

    color: #C5358C;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
