// Breakpoints
$tablet-bp: 1380.98px;
$mobile-bp: 620.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --bg-color-light: #F8F8F8;
    --bg-color-black: #000;
    --primary-color: #F50E30;
    --primary-color-pink: #C5358C;
    --primary-color-light: #ffd7dd;
    --text-color: #000;
    --text-color-light: #fff;

    // Fonts
    --main-font: "NAMU", "Arial", sans-serif;
}
